.header
{
    width: 100%;
    margin: 0%;
    font-size: 16px;
}

.note
{
    color: black;
}

canvas
{
    border: 5px double rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(255, 202, 248);
    background-color: rgb(201, 191, 255);
}